<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 't.css' %}">
</head>
<body>
   
    {% include "admin1.html" %}
    <center>
        <table id="customers">
            <h1>RAW MATERIALS</h1>
            <tr>
                <th>
            Material name
                </th>
                <th>
                    Description
                </th>
               <th></th>

            </tr>
            {% for c in item %}
            <tr>
                <td>{{c.materialname}}</td>
                <td>{{c.description}}</td>
               
                <td><a href="/removematerial1/{{c.materialid}}">Remove</a></td>
                

            
                {% endfor %}
            </tr>
        </table>
        </center>
    </body>
</html>