<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 't.css' %}">
</head>
<body>
    {% include "admin1.html" %}
    <center>
        <table id="customers">
            <tr>
                <th>
                  Material Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Stock Quantity
                </th>
                <th>
                   Re order Level
                </th>
            </tr>
            {% for c in item %}
            <tr>
                <td>{{c.materialname}}</td>
                <td>{{c.description}}</td>          
                <td>{{c.stock}}</td>
                <td>{{c.rol}}</td>
                {% endfor %}
            </tr>
        </table>
        </center>
    </body>
</html>